<h1>Welcome</h1>
<p>This project serves as a foundational exploration into Ruby on Rails, illustrating the initial steps of creating a functional web application. Upon completion, I plan to rebuild the application, documenting the development process in Danish on this website: <a href="https://publish.obsidian.md/reventlow" target="_blank">https://publish.obsidian.md/reventlow</a>, to provide a step-by-step guide on its construction.</p>

<p>The application is designed as a task management platform, enabling the creation of tasks with dependencies and the assignment of these tasks to different users.</p>

<p>Utilizing simple Bootstrap components for the frontend, the site maintains a straightforward and user-friendly interface.</p>

<p>It distinguishes between two user roles: administrators and regular users, employing Devise and CanCanCan for managing authentication and authorizing access to various sections of the site.</p>
<p>Github page: <a href="https://github.com/Reventlow/to_do_ruby" target="_blank">https://github.com/Reventlow/to_do_ruby</a></p>